@*@model IEnumerable<MVCDemo.Models.SysUser>*@
@model PagedList.IPagedList<MVCDemo.Models.SysUser>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}


<p>@Html.ActionLink("Create New", "Create")</p>
@using (Html.BeginForm("Index", "Account", FormMethod.Get))
{
    <p class="form-inline">
        Find by name:@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <input class="btn btn-default" type="submit" value="submit" />
    </p>
}
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.ActionLink("UserName", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Email
            </th>

            <th>操作</th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.Count
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
